{% extends 'well/base.html' %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Информация о курсе</h1>
    </div>
    <div class="col-12">
        <div class="row">

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Тема: {{ object.title }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Описание: {{ object.description }}
                        </p>
                        <p>
                            Документация: {{ object.documentation }}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
